
.DS_Store

*.xcuserstate

Rebound Journal.xcodeproj/xcuserdata/sukhyeonmacmini.xcuserdatad/xcschemes/xcschememanagement.plist

Rebound Journal.xcodeproj/xcuserdata/sukhyeonmacmini.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
